@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url(../../public/img/bubblebg.webp);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* OVERSKRIFTER */
.titletxt {
  color: #dbc2cf;
  /* Fallback */
  text-transform: uppercase;
  -webkit-text-fill-color: #280d7c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ff0a9d;
  letter-spacing: 3px;
  /* Future-proofing */
  background: linear-gradient(180deg, #fd1995 8.18%, #4e30c5 59.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



/************************* FOOTER ****************************************/
.footer {
  background: rgba(57, 26, 160, 0.852);
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: #fff;
  font-size: 1em;
}

.footer .row a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}

.linksfooter:hover {
  padding: 5px;
  border-bottom: 2px #fd1995 solid;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }

  .linksfooter:hover {
    padding: 0;
    border-bottom: none;
  }
}


/******************************** ticket ************************************/
.vip {
  background: linear-gradient(rgb(72 27 165), rgb(72 27 165)) padding-box, linear-gradient(to top, rgb(244 45 133), rgb(218 238 104)) border-box;
  border: 4px solid transparent;

}

.hrvip {
  width: 300px;
  height: 2px;
  background: rgb(218 238 104);
  margin: auto;
}

.imgv {
  margin: auto;
}

.tickethv {
  margin-left: 210px;
  margin-top: 50px;
  font-size: 50px;
  color: #280d7c;
  font-weight: 600;
}