.componentWrapper {
  position: relative;
  display: flex;
  width: fit-content;
  margin: auto;
  flex-direction: column;

}

.labelWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  aspect-ratio: 1/1;
  z-index: 2;
}

.labelWrapper div {
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  position: absolute;
  transition: 0.3s ease-in;
  color: #280d7c;
  background-color: #ffffff;
  display: flex;
  filter: drop-shadow(0 4px 8px #000);
  white-space: nowrap;
}

.labelWrapper div:before,
.labelWrapper div:after {
  display: block;
  position: absolute;
  content: "";
  background: "";
  aspect-ratio: 6/10;
  height: 110%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 0 2px #000);
}

.labelWrapper div:before {
  left: -0.9rem;
}

.labelWrapper div:after {
  right: -0.9rem;
  transform: scaleX(-1);
}

.labelWrapper div h3 {
  font-size: 1rem;
  white-space: nowrap;
}

.labelWrapper div p {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.labelWrapper div p:after {
  width: 24px;
  height: 24px;
  display: block;
  content: " ";
  position: absolute;
  bottom: -6px;
  background-color: #fff;
  z-index: -1;
  transform: rotate(45deg);
}

/* label positions */
.vanaheim {
  top: 10%;
  right: 5%;
}

.midgard {
  top: 66%;
  right: 76%;
}

.jotunheim {
  top: 4%;
  right: 69%;
}

.muspelheim {
  bottom: 47%;
  left: 29%;
}

.niflheim {
  bottom: 30%;
  left: 26%;
}

.alfheim {
  bottom: 34%;
  right: 6%;
}

.helheim {
  bottom: 73%;
  left: 26%;
}

.svartheim {
  bottom: 60%;
  left: 57%;
}

.labelWrapper span {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: initial;
  cursor: pointer;
  color: #DAEE68;
  border: solid 2px #DAEE68;
  padding: 4px 10px;
  transition: 0.3s ease-in-out;
  transform: translateY(-10px) translateX(5px);
}

.labelWrapper span:hover {
  transform: scale(1.1);
}

.hide {
  display: none;
  /* Hide elements */
}

.show {
  display: block;
  /* Show elements */
}

.hide {
  opacity: 0;
  transform: translateY(16px);
  pointer-events: none;
  cursor: default !important;
}

.show {
  opacity: 1;
  color: #fff;
  transform: translateY(0);
}

.mapWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 40px;
}

.mapImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.vanaheimImg {
  grid-row: 1;
  grid-column: 3;
}

.midgardImg {
  grid-row: 3;
  grid-column: 1;
}

.jotunheimImg {
  grid-row: 1;
  grid-column: 1;
}

.svartheimImg {
  grid-row: 2;
  grid-column: 3;
  transform: translateY(-20px) translateX(-20px);
}

.helheimImg {
  grid-row: 1;
  grid-column: 2;
  transform: translateY(80px) translateX(-20px);
}

.muspelheimImg {
  grid-row: 2;
  grid-column: 2;
  transform: translateY(10px) translateX(5px);
}

.niflheimImg {
  grid-row: 3;
  grid-column: 2;
  transform: translateY(-10px) translateX(-10px);
}

.alfheimImg {
  grid-row: 3;
  grid-column: 3;
  transform: translateY(-40px) translateX(-20px) rotate(15deg);
}

.vanaheimImg,
.midgardImg,
.jotunheimImg,
.svartheimImg,
.helheimImg,
.muspelheimImg,
.niflheimImg,
.alfheimImg {
  width: 100%;
  height: 100%;
}

.legendWrapper {
  margin: auto;
  width: 100%;
  margin-top: 16px;
}

.legendWrapper div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 16px;
  color: #fff;
  padding: 16px 16px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.legendWrapper div:first-of-type {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
}

.legendWrapper div:first-of-type h2 {
  font-size: 20px;
  color: #fff;
}

.legendWrapper div:first-of-type span {
  color: #DAEE68;
  cursor: pointer;
  font-size: 18px;
}

.legendWrapper div:first-of-type span:hover {
  transform: scale(1.1);
}

.legendWrapper div h4 {
  font-weight: bold;
  font-size: 18px;
}

.legendWrapper div ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.legendWrapper ul li {
  display: flex;
  gap: 8px;
}

.legendWrapper ul li:before {
  content: "";
  height: 16px;
  width: 16px;
  border: solid 1px #000;
}

.showLegend {
  max-height: 500px;
}

.hideLegend {
  max-height: 0;
  padding: 0 16px !important;
}

/* legend colorboxes */
/* stages */
.legendWrapper div ul:first-of-type li:nth-of-type(1):before {
  display: none;
}

.legendWrapper div ul:first-of-type li:nth-of-type(2):before {
  background-color: #ac38ff;
}

.legendWrapper div ul:first-of-type li:nth-of-type(3):before {
  background-color: #ff78b5;
}

.legendWrapper div ul:first-of-type li:nth-of-type(4):before {
  background-color: #f6dc19;
}

/* camping areas */
.legendWrapper div ul:last-of-type li:nth-of-type(1):before {
  display: none;
}

.legendWrapper div ul:last-of-type li:nth-of-type(2):before {
  background-color: #de2929;
}

.legendWrapper div ul:last-of-type li:nth-of-type(3):before {
  background-color: #ff8418;
}

.legendWrapper div ul:last-of-type li:nth-of-type(4):before {
  background-color: #17b04f;
}

.legendWrapper div ul:last-of-type li:nth-of-type(5):before {
  background-color: #48f3ff;
}

.legendWrapper div ul:last-of-type li:nth-of-type(6):before {
  background-color: #cf227e;
}

/* Media Queries for Responsiveness */
@media (min-width: 1200px) {


  .vanaheim {
    top: 7%;
    right: 1%;
  }

  .jotunheim {
    top: 4%;
    right: 69%;
  }

  .midgard {
    top: 66%;
    right: 76%;
  }

  .svartheim {
    bottom: 59%;
    left: 64%;
  }

  .muspelheim {
    bottom: 46%;
    left: 34%;
  }

  .alfheim {
    bottom: 29%;
    right: 9%;
  }

  .niflheim {
    bottom: 29%;
    left: 29%;
  }
}

@media (max-width: 992px) {

  .vanaheim {
    top: 5%;
    right: -5%;
  }

  .jotunheim {
    top: 4%;
    right: 60%;
  }

  .midgard {
    top: 57%;
    right: 68%;
  }

  .svartheim {
    bottom: 61%;
    left: 48%;
  }

  .helheim {
    bottom: 67%;
    left: 24%;
  }

  .muspelheim {
    bottom: 47%;
    left: 22%;
  }

  .alfheim {
    bottom: 38%;
    right: -1%;
  }

  .niflheim {
    bottom: 34%;
    left: 19%;
  }

  .legendWrapper div:nth-of-type(2) {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 768px) {



  .labelWrapper div {
    font-size: 0.9rem;
  }

  .vanaheim {
    top: 8%;
    right: 2%;
  }

  .jotunheim {
    top: 6%;
    right: 70%;
  }

  .midgard {
    top: 62%;
    right: 73%;
  }

  .svartheim {
    bottom: 59%;
    left: 59%;
  }

  .helheim {
    bottom: 73%;
    left: 26%;
  }

  .muspelheim {
    bottom: 46%;
    left: 31%;
  }

  .alfheim {
    bottom: 31%;
    right: 10%;
  }

  .niflheim {
    bottom: 30%;
    left: 33%;
  }

  .legendWrapper div:first-of-type h2 {
    font-size: 18px;
  }

  .legendWrapper div:first-of-type span {
    font-size: 16px;
  }

  .legendWrapper div h4 {
    font-size: 16px;
  }
}

@media (max-width: 576px) {



  .labelWrapper div h3 {
    font-size: 0.8rem;
  }

  .labelWrapper div p {
    font-size: 14px;
  }

  .vanaheim {
    top: 8%;
    right: 2%;
  }

  .jotunheim {
    top: 6%;
    right: 70%;
  }

  .midgard {
    top: 62%;
    right: 73%;
  }

  .svartheim {
    bottom: 60%;
    left: 56%;
  }

  .helheim {
    bottom: 70%;
    left: 23%;
  }

  .muspelheim {
    bottom: 46%;
    left: 37%;
  }

  .alfheim {
    bottom: 34%;
    right: 8%;
  }

  .niflheim {
    bottom: 30%;
    left: 24%;
  }


  .legendWrapper div:nth-of-type(2) {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 480px) {



  .labelWrapper div h3 {
    font-size: 0.7rem;
  }

  .labelWrapper div p {
    font-size: 12px;
  }

  .vanaheim {
    top: 8%;
    right: 0;
  }

  .jotunheim {
    top: 6%;
    right: 60%;
  }

  .midgard {
    top: 61%;
    right: 69%;
  }

  .svartheim {
    bottom: 61%;
    left: 50%;
  }

  .helheim {
    bottom: 66%;
    left: 23%;
  }

  .muspelheim {
    bottom: 46%;
    left: 19%;
  }

  .alfheim {
    bottom: 37%;
    right: 6%;
  }

  .niflheim {
    bottom: 30%;
    left: 23%;
  }

  .legendWrapper div:nth-of-type(2) {
    flex-direction: column;
    gap: 8px;
  }
}